<br>
<br>
<br>
<p id="notice"><%= notice %></p>
<div id = "posts">
  <% @posts.each do |post| %>
      <p>
        <h2><%= post.title %><br></h2>
          <br>
          posted <%= time_ago_in_words(post.created_at) %>
          <br>
          <br>
          <hr>
          <br>

        <%= truncate(post.body,length: 100) %><br>
      </p>
      <p>
        <%= link_to 'explore more', post %><br>
        <br>
        <br>
        <% if admin? %>
        <%= link_to 'login and edit', edit_post_path(post) %><br>
        <br>
        <%= link_to 'login and delete', post, method: :delete, data: { confirm: 'Are you sure?' } %><br>
        <br>
        <% else %>
        <%= admin? %>
        <%end%>
      </p>
    <% end %>
<br>
<br>
<br>
<% if admin? %>
<%= link_to 'New Post', new_post_path %>
<% end %>
</div>
